body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, rgb(129, 15, 15), white);
    font-family: Neue Montreal,Helvetica,Arial,sans-serif;
    height: 10vh;
    overflow: hidden;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}
